html, body {
	height: 100%;
	min-height: 100vh;
}

#counter::after {
	content: "Total count: " attr(data-counter);
}

#passive::after {
	content: "Passive: " attr(data-counter);
}

#multiplyer::after {
	content: "x " attr(data-counter);
}